 .right{
	width:1080px;
	min-height:584px;
	background:#fff;
	border-left:1px solid #b5cfd9;
	font-family:'宋体';
	border-top:0px solid #e8f3fb;
	box-shadow:0 0px 10px 3px #e8f3fb inset;
}
.right .r-top{
	font-size:14px;
	color:#0099cc;
	margin-top:20px;
	margin-left:20px;
	font-weight:bold;
}
.right .r1{
	width:1042px;
	height:36px;
	float:left;
	margin-left:20px;
	margin-top:20px;
	background:-moz-linear-gradient(top,#eef6fc,#f5f9fe);/*火狐*/ 
    background:-webkit-gradient(linear, 0% 50%, 0% 100%,from(#eef6fc), to(#f5f9fe));/*谷歌*/ 
	color:#0099cc;
	font-size:12px;
	font-weight:bold;
	line-height:36px;
	padding-left: 8px;
	border-bottom:1px dotted #deeffb;
}
.right .r2{
	width:1052px;
	height:65px;
	float:left;
	color:#555555;
	line-height:30px;
	font-size:12px;
	margin-left:20px;
	border-bottom:1px dotted #deeffb;
}
.right .r2 img{
	margin-left:10px;
	margin-right:10px;
}
.right .r3{
	width:1052px;
	height:36px;
	float:left;
	color:#555555;
	line-height:36px;
	font-size:12px;
	margin-left:20px;
	border-bottom:1px dotted #deeffb;	
}
.right .r3 li{
	display:inline-block;
	font-weight:bold;
}


.right .r3 input{
	float:left;
	width:44px;
	height:19px;
	margin-top:8px;
	background:#f9f9f9;
	border:1px solid #ccc;
	border-top:1px solid #666;
	border-left:1px solid #666;
}
.right .r3 p{
	display:inline-block;
	font-size:12px;
	color:#555;
	float:left;
}
.right .r3 i{
	width:19px;
	height:36px;
	display:inline-block;
	float:left;
	line-height:36px;
	text-align:center;
	font-weight:bold;
}
.right .r5{
	float:left;
	width:44px;
	height:19px;
	margin-top:6px;
}
.right .r5 .submit{
	margin-left:20px;
	background:#dddddd;
	width:34px;
	height:21px;
	padding:0 4px;
	cursor: pointer;
	border-right:1px solid #666666;
	border-bottom:1px solid #666666;
}
.right .r6{
	width:1052px;
	height:36px;
	float:left;
	color:#555555;
	line-height:36px;
	font-size:12px;
	margin-left:20px;
	border-bottom:1px dotted #deeffb;
}
.right .r6 li{
	display:inline-block;
	font-weight:bold;
}
.right .r6 li a{
	color: #555555;
	font-weight: bold;
}
.right .r6 li a:hover{
	text-decoration: underline;
}