.box{
	width: 100%;
	height: auto;
}
header{
	width: 100%;
	height: 205px;
	background:-webkit-linear-gradient(rgba(236,242,245,1), rgba(255, 255, 255, 1));
	background:-o-linear-gradient(rgba(236,242,245,1), rgba(255, 255, 255, 1));
	background:linear-gradient(rgba(236,242,245,1), rgba(255, 255, 255, 1)); 
}
header .top{
	width: 100%;
	height: 25px;
	background: #EDF2F6;
	margin:0 auto;
	border-bottom: 1px solid #E6EDF1;
}
header .top .upper{
	width: 960px;
	height: 25px;  
	margin:0 auto;
	border-bottom: 1px solid #E6EDF1;
}
header .top .upper .coll{
	line-height: 25px;
}
header .top .upper .h_mid{
	width: 960px;
	height: 100px;
}
header .top .upper .h_mid h1{
	width: 76px;
	height: 96px;
	cursor:pointer;
}
header .top .upper .h_mid .login{
	height: 52px;
	/*background: pink;*/
	margin-top: 22px;
}
header .top .upper .h_mid .login .u_cs{
	width: 37px;
	line-height: 12px;
	display: inline-block;
	margin-right: 12px;
	text-align: center;
}
header .top .upper .h_mid .login .uname{
	width: 149px;
	height: 23px;
	background: #FAFFBD;
	border-top: #848484 1px solid;
	border-left: #848484 1px solid;
	border-right: #E0E0E0 1px solid;
	border-bottom: #E0E0E0 1px solid;
	margin-bottom: 5px;
}
header .top .upper .h_mid .login .cbox{
	margin-right: 6px;
}
header .top .upper .h_mid .login .sub{
	width: 75px;
	height: 23px;
	border: #848484 1px solid;
	background:-webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(226,226,226, 1));
	background:-o-linear-gradient(rgba(255, 255, 255, 1), rgba(226,226,226, 1));
	background:linear-gradient(rgba(255, 255, 255, 1), rgba(226,226,226, 1)); 
}
header .top .upper .h_mid .g_pass{
	width: 51px;
	height: 57px;
	/*background: red;*/
	padding-left: 8px;
	margin-left: 7px;
	border-left: 1px solid #E5EDF2;
}
header .top .upper .h_mid .g_pass .gp_up{
	color:#333;
	margin-top:7px;
	margin-bottom:13px;
	display: inline-block;
}
header .top .upper .h_mid .g_pass .gp_down{
	color:#3366B2;
	font-weight: bold;
}
/*未登录时候的界面 end*/
/*登陆后的界面 start*/
header .top .upper .h_mid .login_h{
	/*width:255px;*/
	height: 60px;
	/*background: pink;*/
	margin-top:22px;
}
header .top .upper .h_mid .login_h .manage{
	margin-right: 5px;
	margin-top: 8px;
}
header .top .upper .h_mid .login_h .manage .online{
	width:16px;
	height: 16px;
	background: url(../img/online.gif);
}
header .top .upper .h_mid .login_h .manage .mar_left{
	margin-left: 2px;
	margin-right: 2px;
}
header .top .upper .h_mid .login_h .manage .mar_top{
	margin-top: 8px;
}
header .top .upper .h_mid .login_h .manage .name_bold{
	font-weight: bold;
}
header .top .upper .h_mid .login_h .manage .ver_bar{
	color:#D9CFCF;
}
header .top .upper .h_mid .login_h .avatar{
	width:50px;
	height: 48px;
	border-radius: 6px;
	border:2px solid #F2F2F2;
	text-align: center;
	padding: 2px;
	background: #fff;
	 overflow: hidden; 
}
header .top .upper .h_mid .login_h .avatar img:hover{
	transform: scale(1.4);
	-webkit-transform: scale(1.4); /*Safari 和 Chrome*/
	-moz-transform: scale(1.4); /*Firefox*/
	-ms-transform: scale(1.4); /*IE9*/
	-o-transform: scale(1.4); /*Opera*/
}
/*登陆后的界面 end*/



.h_bot{
	width: 960px;
	height: 78px;
	/*background: pink;*/
}
.h_bot .hb_up{
	width: 960px;
	height: 35px;
	background: url(../img/bg.png) no-repeat 0 0 ;
}
.up_one{
	width: 70px;
	height: 35px;
	font-size: 15px;
	font-weight: bold;	
	line-height: 35px;
	text-align: center;
	/*background: red;*/
	background: url(../img/nav.png) no-repeat -45px -33px;
}
.one_cs{
	color:#fff;
	font-family: '宋体';
}
.one_cs:hover{
	color:#fff;
}
.up_one:hover{
	background: url(../img/nav.png) no-repeat -45px -66px;
}
.up_two{
	height: 25px;
	font-size: 15px;
	padding-top: 10px;
	font-weight: bold;	
	text-align: center;		
}
.two_cs{
	color:#fff;
	height: 15px;
	display: inline-block;
	padding-left: 20px;
	padding-right: 19px;
	line-height: 15px;
	border-right: 1px solid #448ace;
	font-family: '宋体';
}
.two_cs:hover{
	color:#fff;
}
.up_two:hover{
	background: url(../img/nav.png) no-repeat -20px -66px;
}
.up_thre{
	height: 25px;
	font-size: 15px;
	padding-top: 10px;
	font-weight: bold;	
	text-align: center;	
}
.thre_cs{
	color:#fff;
	height: 15px;
	display: inline-block;
	padding-left: 20px;
	padding-right: 19px;
	line-height: 15px;
	border-right: 1px solid #448ace;
}
.thre_cs:hover{
	color:#fff;
}
.up_thre:hover{
	background: url(../img/nav.png) no-repeat -31px -66px;
}
.hb_down{
	width: 958px;
	height: 44px;
	border:1px solid #e7edf1;
	border-top: none;
	background:-webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(244,247,249, 1));
	background:-o-linear-gradient(rgba(255, 255, 255, 1), rgba(244,247,249, 1));
	background:linear-gradient(rgba(255, 255, 255, 1), rgba(244,247,249, 1));
}
.icon_search{
	width: 44px;
	height: 33px;
	display: inline-block;
	margin-top:5px;
	background: url(../img/sprint.png) no-repeat 0 0;
}
.search{
	width: 409px;
	/*height: 29px;*/
	height: 33px;
	/*color: #cdcdcd;*/
	padding-left:7px;
	margin-top: 5px;
}
.go_search{
	width: 66px;
	height: 33px;
	margin-top: 5px;
	border:none;
	cursor: pointer;
	background: url(../img/sprint.png) no-repeat -45px 0;
}
.hot{
	height: 12px;
	line-height: 44px;
}
.hot_1{
	color:#444;
	margin-left: 8px;
	margin-right: 2px;
}
.hot_2{
	color: #326699;
}
.hot_2:hover{
	color: #326699;
}

