<!doctype html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>{$title}</title>
		<link rel='stylesheet' type='text/css' href='{$dir}/css/base.css' />
		<link rel='stylesheet' type='text/css' href='{$dir}/css/header.css' />
		<link rel='stylesheet' type='text/css' href='{$dir}/css/list.css' />
		<link rel='stylesheet' type='text/css' href='{$dir}/css/footer.css' />
		<link rel='stylesheet' type='text/css' href='{$dir}/css/passwordSecurity.css' />
	</head>
	<body>
		<div class="box clearFix">
			<!-- 头部 start -->
			{include header.html}
			<!-- 头部 end -->


			<!-- 头部下边的一角 start -->
			<div class="list_talk clearFix">
				<i class="home"></i>
				<i class="gt">></i>
				<a href="personalData.php" class="forum">设置</a>
				<i class="gt">></i>
				<i class="forum">密码安全</i>
			</div>
			<!-- 头部下边的一角 end -->




	

			<!--main start-->
			<div class="main">
				<div class="main-l">
					<div class="main-lt"><p>设置</p></div>
					<ul class="main-lb">
						<li><a href='modifyHead.php'>修改头像</a></li>
						<li><a href="personalData.php">个人资料</a></li>
						<li><a href='personalSignature.php'>个人签名</a></li>
						<li class='dian'><a href="passwordSecurity.php">密码安全</a></li>					
					</ul>
				</div>
				
				<div class="main-r">
					<div class='main-rt'>
						<p>您必须填写旧密码才能修改下面的资料</p>
					</div>
				
					<form action="passwordSecurity.php" method="post" class="main-rb">
						<div class="main-in1">
							<i>旧密码</i>
							<span style="color:red;">*</span>
							<input type='password' name='oldpass' class="size"/>
						</div>
						<i>新密码</i><input type='password' name='newpass' class="size pos1"/>
						<p>如不需要更改密码，此处请留空</p>
						<i>确认密码</i><input type='password' name='confirmpass' class="size pos2"/>
						<p>如不需要更改密码，此处请留空</p>
						<i>Email</i><input type='text' name='email' value="{$updatePass[0]['email']}" class="size pos3" />
						<p>取回密码时使用</p>
						<i>安全提问</i>
						<select name="questionidnew" id="questionidnew" class="pos4">
							<option selected>保持原有的安全提问和答案</option>
							<option >无安全提问</option>
							<option >母亲的名字</option>
							<option >爷爷的名字</option>
							<option >父亲出生的城市</option>
							<option >您其中一位老师的名字</option>
							<option >您个人计算机的型号</option>
							<option >您最喜欢的餐馆名称</option>
							<option >驾驶执照最后四位数字</option>
						</select>
						<p>如果您启用安全提问，登录时需填入相应的项目才能登录 </p>
						<i>回答</i><input type="text" name="answernew" id="answernew" value="{$updatePass[0]['anser']}" class="size pos5" />
						<p class="d">如您设置新的安全提问，请在此输入答案 </p>
						<input type="submit" name="sub_safe"  value="保存" class="sub_safe pos6"/>
					</form>
				</div>
			</div>
			<!--main end-->



			<!-- footer start -->
			{include 'footer.html'}
			<!-- footer end -->
		</div>
	</body>
</html>